html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #1B1818;
    line-height: 19px;
    font-size: 16px;
    
}
.container {
    width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    background-color: #332208;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 0 15px;
}
.menu__list-link {
    text-transform: uppercase;
    color: #FEFEFE;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 5px;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu__list-link:hover{
    border-bottom: 1px solid #FEFEFE;
}
.phone {
    color: #FEFEFE;
    font-size: 18px;
    line-height: 21px; 
}
.top__heading{
    display: flex; 
    padding-top: 50px;  
    padding-bottom: 30px;
}
.top__content{
    text-align: center;
    padding-top: 90px;
    width: 50%;
}
.top__title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin: 0 auto 20px;
    max-width: 455px;
}
.top__text{
    font-size: 24px;
    line-height: 28px;
    margin:0 auto 63px;
    max-width: 470px;
}
.application-btn{
    color: #FEFEFE;
    text-transform: uppercase;
    background: #C5AC2D;
    padding: 16px 19px 15px 18px; 
    border: 1px solid transparent;
    transition: all .5s; 
}
.application-btn:hover{
    color: #C5AC2D;
    background: #FEFEFE;
    border: 1px solid #C5AC2D;
}
.top__slider{
    width: 50%;
}